:root {
  --rowNum: 0;
  --colNum: 0;
  --cellBackgroundColor: #333333;
  --avatarUrl: url("/images/jedi.svg");
  --fontFamily: "Nunito", sans-serif;
}

html,
body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  font-size: 10px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
  color: #fff;
}

body {
  margin: 0 20%;
  overflow: auto;
}

p {
  margin: 0;
}

h2 {
  font-size: 1.2rem;
}

button {
  padding: 0;
}

*:focus {
  outline-color: black;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.xs {
  font-size: 0.6rem;
}

.italic {
  font-style: "italic";
}

.main {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  text-align: center;
}

.game-container {
  position: relative;
}

.grid {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}

.row {
  display: flex;
  flex-direction: row;
  column-gap: 0.2rem;
}

.item {
  background: var(--cellBackgroundColor);
  border: none;
  width: 3rem;
  height: 3rem;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  margin: auto;
  background: black;
  height: 100%;
  width: 100%;
}

.avatar {
  background-image: var(--avatarUrl);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f0ffff;
  height: 100%;
}

.obstacle {
  background-image: url(/images/fire.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.weapon {
  background-image: url(/images/lightsaber.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffff00;
  /* background-color: #0000FF; */
  height: 100%;
}

.target {
  background-image: url(/images/darthvader.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.avatar.obstacle {
  background-image: var(--avatarUrl), url(/images/fire.svg);
}

.avatar.weapon {
  background-image: var(--avatarUrl), url(/images/lightsaber.svg);
  background-position: left, right;
}

.avatar.target {
  background-image: var(--avatarUrl), url(/images/darthvader.svg);
  background-position: left, right;
}

.avatar.end {
  background-image: var(--avatarUrl), url(/images/star.svg);
  background-position: left, right;
}

@keyframes blinking {
  from {
    border: none;
  }
  to {
    border: 2px solid black;
  }
}

.end {
  background-image: url(/images/star.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.token-container {
  display: inline-flex;
  flex-direction: column;
}

.token {
  background-color: lightblue;
}

.target {
  background-color: #4d4d4d;
}

.hidden {
  display: none;
}
