:root {
  --rowNum: 0;
  --colNum: 0;
  --cellSize: 50px;
  --cellBackgroundColor: #98fb98;
  --avatarUrl: url("/images/jedi.svg");
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

p {
  margin: 0;
}

*:focus {
  outline-color: black;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.xs {
  font-size: 10px;
}

.italic {
  font-style: "italic";
}

.main {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
  justify-content: center;
}

.game-container {
  position: relative;
}

.grid {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.item {
  background: var(--cellBackgroundColor);
  border: none;
  width: 50px;
  height: 50px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  margin: auto;
  background: black;
  height: 100%;
  width: 100%;
}

.playAgain {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playAgain .message {
  color: white;
  font-weight: bold;
}

.playAgain button {
  width: 150px;
  height: 50px;
  border: none;
  outline: none; /*not ideal*/
  border-radius: 10px;
  background: white;
  font-size: 18px;
}

.avatar {
  background-image: var(--avatarUrl);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.obstacle {
  background-image: url(/images/fire.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.weapon {
  background-image: url(/images/lightsaber.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.target {
  background-image: url(/images/darthvader.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.avatar.obstacle {
  background-image: var(--avatarUrl), url(/images/fire.svg);
}

.avatar.weapon {
  background-image: var(--avatarUrl), url(/images/lightsaber.svg);
  background-position: left, right;
}

.avatar.target {
  background-image: var(--avatarUrl), url(/images/darthvader.svg);
  background-position: left, right;
}

.avatar.end {
  background-image: var(--avatarUrl), url(/images/medal.svg);
  background-position: left, right;
}

@keyframes blinking {
  from {
    border: none;
  }
  to {
    border: 2px solid black;
  }
}

.end {
  background-image: url(/images/medal.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  /* animation-name: blinking;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease; */
}

.token-container {
  display: inline-flex;
  flex-direction: column;
}

.token {
  background-color: lightblue;
}

.target {
  background-color: rgb(214, 109, 167);
}

.trophy {
  width: 100px;
  height: 100px;
}
